---
title: تیم اجرایی باهمستان
layout: default
permalink: /exec-team/

---

    <div class="container">
        <div class="header">
          <div class="">
              <div class="col-lg-12 no-padding">
                <a href="/wg-neshast.html" class="page-post-thumbnail" style="background-image: url('/assets/img/exec-thumbnail.jpg');">
                        <div class="page-post-title">
                         <h1>{{ page.title }} </h1>
                          <h4>{{ page.slogan }}</h4>  
                        </div>
                    </a>                    
              </div>
              <!-- <div class="col-lg-4">
                <div class="play-button">

                </div>
              </div>     -->
          </div>
          <div>
            <div class="col-lg-12 no-padding">
                <div class="box-shadow">
                  <p data-ref="head.description">
تیم اجرایی باهمستان تحت مدیریت مدیرعامل منتخب هیات مدیره و در قالب سه معاونت تحقیقات، روابط‌عمومی و سیاست‌گذاری وظیفه پیشبرد اهداف و سیاست‌های باهمستان را در قالب طرح‌ها، پروژه‌ها و پویش‌های گوناگون بر عهده دارد.                   
                    </p>
                  <div class="text-right">
                      <!-- <a class="btn btn-primary btn-lg">پیوستن به کارگروه</a>   -->
                  </div>    
                </div>
              </div>
          </div>
        </div>
      </div>
    <section class="current-projects">
      <br>
      <br>
      <div class="container">
        <h4>اقدامات جاری</h4>
        <div class="row">
          <!--<div class="col-lg col-md-6">
            <div class="box-shadow">
                <h5 data-ref="currentProjects[0].title"></h5>
                <p data-ref="currentProjects[0].description"></p>
                <a class="btn btn-link btn-sm" href="#" data-ref="currentProjects[0].link">بیشتر بخوانید</a>
            </div>
            <br>
          </div>
          <div class="col-lg col-md-6">
            <div class="box-shadow">
              <h5 data-ref="currentProjects[0].title"></h5>
              <p data-ref="currentProjects[0].description"></p>
              <a class="btn btn-link btn-sm" href="#" data-ref="currentProjects[0].link">بیشتر بخوانید</a>
            </div>  
            <br>
          </div>
          <div class="col-lg col-md-6">
            <div class="box-shadow">
              <h5 data-ref="currentProjects[0].title"></h5>
              <p data-ref="currentProjects[0].description"></p>
              <a class="btn btn-link btn-sm" href="#" data-ref="currentProjects[0].link">بیشتر بخوانید</a>
            </div>
          </div>-->
          <br>
        </div>
      </div> 
    </section>
    <br>
    <br>
    <!-- Vertical Timeline -->
    <section id="conference-timeline" class="container">

      <div class="timeline-start">پیشینه فعالیت‌های تیم اجرایی</div>
      <div class="conference-center-line"></div>
      <div class="conference-timeline-content">
        <!-- Article -->
        <div class="timeline-article">
{% for post in site.categories.exec %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 0 %}
            <div class="content-left-container">
                <div class="box-shadow">
                  <h5>{{ post.title }}</h5>
                  <img src="{{ BASE_PATH }}{{ post.thumbnail }}" class="timeline-img">
                  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                  <div class="clearfix">
                      <span class=" text-disabled float-left" id="{{ post.date}}">{{ post.date}}</span>
						<script>
							var date = '{{ post.date  }}'
								moment.loadPersian(true);
								var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
								document.getElementById('{{ post.date}}').innerText = jalaliDate
						</script>                        <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-link float-right">بیشتر بخوانید</a>
                  </div>    
                </div>
              </div>
                        <div style="clear: both"></div>

    {% else %}
             <div class="content-right-container">
                <div class="box-shadow">
                  <h5>{{ post.title }}</h5>
                  <img src="{{ BASE_PATH }}{{ post.thumbnail }}" class="timeline-img">
                  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                  <div class="clearfix">
                      <span class=" text-disabled float-left" id="{{ post.date}}">{{ post.date}}</span>
						<script>
							var date = '{{ post.date  }}'
								moment.loadPersian(true);
								var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
								document.getElementById('{{ post.date}}').innerText = jalaliDate
						</script>
                        <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-link float-right">بیشتر بخوانید</a>
                  </div>    
                </div>
                  </div> 
     {% endif %}
                <div class="meta-date"></div>
        
{% endfor %}
          </div>
          <!-- // Article -->
        
        </div>
      <div class="timeline-end">تشکیل تیم اجرایی: پاییز ۹۱</div>
    </section>
<div class="blank-space"></div>
