---
title: باهمستان
layout: home
---

<section class="current-projects">
    <br>
    <br>
    <div class="container">
        <h2 style="text-align: center;">باهمستان به تعداد اعضایش بزرگ می‌شود</h2>
        <br>
        <div class="row">
            <img src="/assets/img/nominate-thumbnail.jpeg" style="width: inherit; direction:rtl;">
        </div>
        <br>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p>اکنون در آستانه برگزاری مجمع عمومی باهمستان در تاریخ ۳۰ مهر ۱۳۹۹ هستیم. در این مجمع اعضای هیأت مدیره
                    جدید باهمستان با رأی اعضا و از بین اعضای داوطلب انتخاب می‌شوند و به مدت دو سال در این سمت باقی
                    می‌مانند. برای عضویت و مشارکت در مجمع عمومی باهمستان، به صفحه <a href="/join/">عضویت</a> مراجعه
                    کنید. همچنین علاقه‌مندان می‌توانند پس از عضویت در باهمستان، با پر کردن <a href="/nominate/">فرم
                        مربوط به
                        نامزدی هیات مدیره یا بازرس</a> برای سمت‌های گفته شده کاندیدا شوند و در روز مجمع با معرفی
                    برنامه‌های
                    خود، به عنوان نامزد در انتخابات شرکت کنند.</p>
                <br>
            </div>
        </div>
        <h2 style="text-align: center;">معرفی باهمستان</h2>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p>مجمع حق برشهر باهمستان یک تجربه جدید در فعالیت مدنی در ایران است؛ تجربه‌ای از مطالبه‌گری، گفتگو و با
                    هم ساختن شهرمان. رسالت «باهمستان» در یک جمله «حمایت و توانمندسازی گروه‌ها و منافع به حاشیه رانده شده
                    در فرایند‌های توسعه شهری» است. باهمستان تلاش دارد از مفهوم «حقوق» و «وظایف» شهرنشینی در کنار وظایف
                    حاکمیت – اعم از دولت، شهرداری و سازمان‌های نیمه‌دولتی – تعریفی جدید ارائه دهد و توجه همگانی را به
                    نقاط مورد غفلت قرار گرفته در این زمینه جلب کند.
                </p>

                <br>
            </div>
            <div style="text-align: center;" class="col-lg">
                <p>نام باهمستان را مجمع گذاشته‌ایم زیرا تمام سرمایه انسانی، اجتماعی، مالی و فرهنگی باهمستان از طریق
                    اعضایش تامین می‌شود. اعضای باهمستان علاوه بر اینکه به استقلال مالی آن کمک می‌کنند، می‌توانند با شرکت
                    در مجمع عمومی، هیات مدیره و اولویت‌های باهمستان را انتخاب کنند و همواره بر فعالیت‌های آن نظارت داشته
                    باشند. باهمستان فعالیتش را از سال ۹۱ آغاز کرد و مفتخر است که علی رغم همه موانع در این سال‌ها، اگرچه
                    گاه آهسته اما پیوسته و مستقل برای مطالبه‌گری در تکاپو بوده است.</p>

            </div>
            <br>
        </div>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p>برای اطلاع بیشتر از ساختار و فعالیت‌های باهمستان به صفحه <a href="/about/">درباره ما</a> سر بزنید؛
                    همچنین ما را در شبکه‌های اجتماعی با شناسه <a href="https://t.me/bahamestan">@bahamestan</a> دنبال کنید.</p>

                <br>
            </div>
            <br>
        </div>
        <h3 style="text-align: center;">آخرین فعالیت‌ها</h3>
        <div class="row">
            {% for post in site.posts limit:3 %}
            <div class="col-lg col-md-4">
                <div class="box-shadow no-padding">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="home-post-thumbnail"
                       style="background-image: url('{{ BASE_PATH }}{{ post.thumbnail }}');">
                        <div class="home-post-title">
                            <h4>{{ post.title }}</h4>
                            <h6 id="rc{{ post.date}}">{{ post.date }}</h6>
                            <script>
                                var date = '{{ post.date  }}'
                                moment.loadPersian(true);
                                var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
                                document.getElementById('rc{{ post.date}}').innerText = jalaliDate





                            </script>
                        </div>
                    </a>
                    <div class="home-post-text">
                        <p>{{ post.content | strip_html | truncatewords:30 }} </p>
                        <a class="btn btn-link btn-sm" href="{{ BASE_PATH }}{{ post.url }}">بیشتر</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>
<br>
<section class="current-projects">
    <br>
    <br>
    <div class="container">
        <h2 style="text-align: center;">با هم حق پیاده در شهر را مطالبه می‌کنیم</h2>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p> این کارگروه، اولین جلسه رسمی خود را در ۲۶ شهریور ۹۶ تشکیل داد. تمرکز اصلی کارگروه روی تضمین حق عابر
                    پیاده به عنوان یک گروه به حاشیه‌رانده شده در فرآیند توسعه شهر و نیز مطرح کردن شهر انسان‌محور در
                    برابر شهر ماشین‌محور است. موضوع حق پیاده در شهر، از مسایل اصلی مورد توجه باهمستان از ابتدای فعالیتش
                    بوده و این کارگروه در راستای پیگیری مطالبات بر زمین مانده از گذشته و همچنین اولویت انتخاب شده توسط
                    اعضا در مجمع عمومی تشکیل شده است. دو پروژه اصلی این کارگروه، چهارراه ولیعصر و تشکیل کمیته پیاده و
                    دوچرخه در شورای شهر است.
                </p>
                <a class="btn btn-lg btn-primary" href="/pido/">درباره کارگروه پیاده</a>
                <a class="btn btn-lg btn-primary" href="/pido/#join_wg">پیوستن به کارگروه پیاده</a>
                <br>
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            {% for post in site.categories.pido %}
            {% if post.tags contains 'ویژه' %}
            <div class="col-md-4">
                <div class="box-shadow no-padding">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="home-post-thumbnail"
                       style="background-image: url('{{ BASE_PATH }}{{ post.thumbnail }}');">
                        <div class="home-post-title">
                            <h4>{{ post.title }}</h4>
                            <h6 id="pd{{ post.date}}">{{ post.date }}</h6>
                            <script>
                                var date = '{{ post.date  }}'
                                moment.loadPersian(true);
                                var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
                                document.getElementById('pd{{ post.date}}').innerText = jalaliDate





                            </script>
                        </div>
                    </a>
                    <div class="home-post-text">
                        <p>{{ post.content | strip_html | truncatewords:30 }} </p>
                        <a class="btn btn-link btn-sm" href="{{ BASE_PATH }}{{ post.url }}">بیشتر</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</section>
<br>
<br>
<section class="current-projects">
    <br>
    <br>
    <div class="container">
        <h2 style="text-align: center;">با هم مشارکت در محله را تمرین می‌کنیم</h2>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p>فعالیت محلی باهمستان فعالیتی محل محور است که بر پایه اصول بنیادین مشارکت، مقاومت و ممارست بنا شده
                    است. ماموریت نهایی پروژه کار محلی باهمستان فعال سازی ساکنان در امور محلی است. در این راستا، باهمستان
                    در نظر دارد تا با اجرای این فعالیت در محله‌ای خاص فضایی را فراهم آورد که در آن شهرمندان از گروه‌های
                    سنی، جنسی، نژادی، ملی، قومیتی متفاوت، به ویژه گروه‌های به حاشیه رانده شده و آسیب پذیر، به ابراز نظر،
                    ایفای نقش و کنشگری در رابطه با محیط زندگیشان بپردازند. باهمستان برای اجرای فعالیت محلی، محله پاسگاه
                    نعمت آباد واقع در منطقه ۱۹ تهران را انتخاب نموده و در نظر دارد به عنوان عاملی محلی در این محل به طور
                    بلند مدت حضور یابد و در طی فرآیند اجرا نقش تسهیل گر مشارکت عمومی و می‌انجی گر بین گروه‌های مختلف را
                    به منظور پیشبرد اهداف تعیین شده توسط ساکنان محلی و برطرف کردن مسائل محلی ایفا نماید. </p>
                <a class="btn btn-lg btn-primary" href="/pasgah/">درباره کارگروه محلی</a>
                <a class="btn btn-lg btn-primary" href="/pasgah/#join_wg">پیوستن به کارگروه محلی</a>
                <br>
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            {% for post in site.categories.pasgah %}
            {% if post.tags contains 'ویژه' %}
            <div class="col-md-4">
                <div class="box-shadow no-padding">
                    <a href="{{ BASE_PATH }}{{ post.url }}" class="home-post-thumbnail"
                       style="background-image: url('{{ BASE_PATH }}{{ post.thumbnail }}');">
                        <div class="home-post-title">
                            <h4>{{ post.title }}</h4>
                            <h6 id="psg{{ post.date}}">{{ post.date }}</h6>
                            <script>
                                var date = '{{ post.date  }}'
                                moment.loadPersian(true);
                                var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
                                document.getElementById('psg{{ post.date}}').innerText = jalaliDate





                            </script>
                        </div>
                    </a>
                    <div class="home-post-text">
                        <p>{{ post.content | strip_html | truncatewords:30 }} </p>
                        <a class="btn btn-link btn-sm" href="{{ BASE_PATH }}{{ post.url }}">بیشتر</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<br>
<br>
<section class="current-projects">
    <br>
    <br>
    <div class="container">
        <h2 style="text-align: center;">با هم حق مسکن را مطالبه می‌کنیم</h2>
        <div class="row">
            <div style="text-align: center;" class="col-lg">
                <p>
                    مهر ۹۷ حق مسکن به عنوان یکی از اولویت‌های اعضا در مجمع سالیانه باهمستان انتخاب شد و طبق روال کار
                    باهمستان کارگروهی برای پرداختن به این موضوع طرح‌ریزی و در مرداد ۹۸ تشکیل شد. کارگروه مسکن با هدف
                    پیگیری حق مسکن افراد و گروه‌هایی که در سیاست‌های شهری نادیده گرفته شده‌اند (خیابان‌خواب‌ها،
                    حاشیه‌نشینان، ساکنین سکونت‌گاه‌های غیررسمی، اجاره‌نشین‌ها، مهاجران، تهی‌دستان شهری و . . . )
                    طرح‌ریزی شده است نوع فعالیت‌ها، نحوه پرداخت به مسائل و انتخاب موضوعات با توجه به اصول باهمستان توسط
                    اعضای کارگروه و طی فرآیندی جمعی تعیین خواهد شد.
                </p>
                <a class="btn btn-lg btn-primary" href="/maskan/">درباره کارگروه مسکن</a>
                <a class="btn btn-lg btn-primary" href="/maskan/#join_wg">پیوستن به کارگروه مسکن</a>
                <br>
                <br>
                <div class="row">
                    {% for post in site.categories.maskan %}
                    {% if post.tags contains 'ویژه' %}
                    <div class="col-md-4">
                        <div class="box-shadow no-padding">
                            <a href="{{ BASE_PATH }}{{ post.url }}" class="home-post-thumbnail"
                               style="background-image: url('{{ BASE_PATH }}{{ post.thumbnail }}');">
                                <div class="home-post-title">
                                    <h4>{{ post.title }}</h4>
                                    <h6 name id="msk{{ post.date}}">{{ post.date }}</h6>
                                    <script>
                                        var date = '{{ post.date  }}'
                                        moment.loadPersian(true);
                                        var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
                                        document.getElementById('msk{{ post.date}}').innerText = jalaliDate





                                    </script>
                                </div>
                            </a>
                            <div class="home-post-text">
                                <p>{{ post.content | strip_html | truncatewords:30 }} </p>
                                <a class="btn btn-link btn-sm" href="{{ BASE_PATH }}{{ post.url }}">بیشتر</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>
