---
title: گزارش مالی باهمستان
slogan: باهم شفاف باشیم
layout: default
permalink: /mali/
---

    <div class="container">
        <div class="header">
          <div class="">
              <div class="col-lg-12 no-padding">
                <a href="{{ page.permalink }}" class="page-post-thumbnail" style="background-image: url('/assets/img/mali-thumbnail.jpg');">
                        <div class="page-post-title">
                          <h1>{{ page.title }} </h1>
                          <h4>{{ page.slogan }}</h4>  
                        </div>
                    </a>                    
              </div>
              <!-- <div class="col-lg-4">
                <div class="play-button">

                </div>
              </div>     -->
          </div>
          <div>
            <div class="col-lg-12 no-padding">
                <div class="box-shadow">
                  <p>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    <section class="current-projects">
      <br>
      <br>
      
    <!-- Vertical Timeline -->
    <section id="conference-timeline" class="container">

      <div class="timeline-start">پیشینه گزارش‌های مالی باهمستان</div>
      <div class="conference-center-line"></div>
      <div class="conference-timeline-content">
        <!-- Article -->
        <div class="timeline-article">
        {% for post in site.posts %}  
            {% if post.tags contains 'گزارش مالی' %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 0 %}
            <div class="content-left-container">
                <div class="box-shadow">
                  <h5>{{ post.title }}</h5>
                  <img src="{{ BASE_PATH }}{{ post.thumbnail }}" class="timeline-img">
                  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                  <div class="clearfix">
                      <span class=" text-disabled float-left" id="{{ post.date}}">{{ post.date}}</span>
						<script>
							var date = '{{ post.date  }}'
								moment.loadPersian(true);
								var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
								document.getElementById('{{ post.date}}').innerText = jalaliDate
						</script>
                        <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-link float-right">بیشتر بخوانید</a>
                  </div>    
                </div>
              </div>
                        <div style="clear: both"></div>

    {% else %}
             <div class="content-right-container">
                <div class="box-shadow">
                  <h5>{{ post.title }}</h5>
                  <img src="{{ BASE_PATH }}{{ post.thumbnail }}" class="timeline-img">
                  <p>{{ post.content | strip_html | truncatewords:30 }}</p>
                  <div class="clearfix">
                      <span class=" text-disabled float-left" id="{{ post.date}}">{{ post.date }}</span>
					  	<script>
							var date = '{{ post.date  }}'
								moment.loadPersian(true);
								var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
								document.getElementById('{{ post.date}}').innerText = jalaliDate
						</script>
                        <a href="{{ BASE_PATH }}{{ post.url }}" class="btn btn-link float-right">بیشتر بخوانید</a>
                  </div>    
                </div>
                  </div> 
     {% endif %}
                <div class="meta-date"></div>
     {% endif %}
{% endfor %}
          </div>
          <!-- // Article -->
        
        </div>
      <div class="timeline-end">شروع  فعالیت‌های باهمستان: پاییز ۹۱</div>
    </section>