<nav class="navbar  fixed-top  navbar-expand-lg navbar-dark navbar-custom">
  <a class="navbar-brand" href="/"><img src="/assets/img/logo160x80.png" style="height: 50px; width: 100px;"></a>
  <button class="navbar-toggler active" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/about">درباره</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          کارگروه‌ها
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pido">کارگروه پیاده و دوچرخه</a>
          <a class="dropdown-item" href="/maskan">کارگروه مسکن</a>
          <a class="dropdown-item" href="/pasgah">کارگروه محلی</a>
          <a class="dropdown-item" href="/exec">تیم اجرایی</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/neshastwg">کارگروه نشست</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          صفحات ویژه
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/neshast">نشست‌های مدنی حق بر شهر</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">اخبار</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">گزارش‌های مالی</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/contact">تماس</a>
      </li>
    </ul>
    <ul class="navbar-nav float-left">
      <li class="nav-item ">
        <a class="nav-link btn btn-white-primary active" href="#join">مشارکت کنیم</a>
      </li>
    </ul>
  </div>
</nav>