<section class="blue-section">
    <div class="top-boreder">
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
              <h1 class="text-white">به باهمستان بپیوندید ...</h1>
              <br>
              <p class="text-white">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی  تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </p>
              <br>
              <a href="#" class="btn btn-lg btn-white-primary">داوطلب می‌شوم</a>&nbsp;&nbsp;
              <a href="#" class="btn btn-lg btn-white-link">حمایت مالی می‌کنم</a>
            </div>
      </div>
  
    </div>
    <br>
    <div class="border-button">
    </div>
  </section>