<section class="blue-section" id="join">
    <div class="top-boreder">
    </div>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
              <h1 class="text-white">به باهمستان بپیوندید ...</h1>
              <br>
              <p class="text-white">
                  باهمستان به عنوان یک سازمان مستقل از طریق حق عضویت و توسط مجمع عمومی اعضا اداره می‌شود. برای حمایت از باهمستان عضو شوید. 
                  باهمستان برنامه‌های جاری خود را از طریق کارگروه‌های مستقل متشکل از داوطلبان پیش می‌برد. برای مشارکت در فعالیت‌های باهمستان داوطلب شوید.
                  برای پیشبرد هر چه بهتر پروژه‌های باهمستان و حفظ استقلال این سازمان مردم نهاد می‌توانید با پشتیبانی مالی از نحوه پیشرفت، هزینه‌ها، و و دستاورد سرمایه گذاری خود مطلع شوید. 
              </p>
              <br>
              <a href="/join/" class="btn btn-white-primary" style="padding: .375rem .75rem;">عضو می‌شوم</a>&nbsp;&nbsp;
              <a href="/volunteer/" class="btn btn-white-link" style="padding: .375rem .75rem;">داوطلب می‌شوم</a>&nbsp;&nbsp;
              <a href="#" class="btn btn-white-link" style="padding: .375rem .75rem;">سهیم می‌شوم</a>
            </div>
      </div>
  
    </div>
    <br>
    <div class="border-button">
    </div>
  </section>