<html>
  <head>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If" crossorigin="anonymous">
    <!--link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/index.css">-->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/timeline.css">
    <meta id="page-data-url" data-url="/data/structure.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="/assets/js/moment.js"></script>
    <script src="/assets/js/moment-jalaali.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
      <div class="container">
        <div class="header">
        <div class="col-lg col-md-12">
                <a href="{{ BASE_PATH }}{{ page.url }}" class="page-post-thumbnail" style="background-image: url('{{ BASE_PATH }}{{ page.thumbnail }}');">
                        <div class="page-post-title">
                            <h1>{{ page.title }}</h1>
                            <h4>{{ page.subtitle }}</h4>
                            <h8>{{ page.author }} , <span id="date">{{ page.date }}</span></h8>
                        </div>
                    </a>
            </div>
          </div>
          <div class="col-lg col-md-12">
            {{ page.content }}
            {% if page.images %}
            <div class="blank-space"></div>
            <h2>عکس‌های برنامه</h2>
            <section id="photos">
              {% for image in page.images %}
                <a href="#{{ image.title}}"><img src="{{ image.image_path }}" alt="{{ image.title}}"/></a>
              {% endfor %}  
            </section>
            {% endif %}
            <div class="blank-space"></div>
            <h2>نظرات</h2>
             <div id="commento"></div>
        </div>
    </div>
    <script>
		var date = '{{ page.date  }}'
			moment.loadPersian(true);
			var jalaliDate = moment(date, 'YYYY-M-D HH:mm:ss TZD').format('ddd jD jMMMM jYYYY');
			document.getElementById("date").innerText = jalaliDate
	</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
    <script src="/assets/js/index.js"></script>
<script defer
        src="https://cdn.commento.io/js/commento.js"
        data-no-fonts="true"></script>
              {% for image in page.images %}
                <a class="lightbox" id="{{ image.title}}" href="#_"><img src="{{ image.image_path }}" alt="{{ image.title}}"/></a>
              {% endfor %}  
</body>
</html>
